.root {
  display: flex;
  height: 100vh;
}

.loader-linear {
  width: 100%;
  height: 4px;
  background-color: #e1e1e150;
  margin: auto 0;
  z-index: 2;
}

.bar-linear {
  height: 4px;
  background-color: #00f88e;
  z-index: 1;
  transition: all 0.2s linear;
  /*animation: bar-linear 1s linear;*/
}

/*@keyframes bar-linear {*/
/*  from {width: 0;}*/
/*  to {width: 100%;}*/
/*}*/

.left-container {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
}

.left-container .social-icons {
  display: flex;
  flex-direction: row-reverse;
  padding: 24px 16px 8px 16px;
}

.left-container .social-icons i {
  font-size: 20px;
  color: white;
  padding: 16px 24px;
}

.left-container .main {
  padding: 120px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media all and (min-width: 1024px) {
  .left-container .main {
    padding: 40px;
  }
}

@media all and (min-width: 1366px) {
  .left-container .main {
    padding: 60px;
  }
}

@media all and (min-width: 1440px) {
  .left-container .main {
    padding: 80px;
  }
}

.left-container .main .author {
  color: white;
  font-size: 12px;
}

.left-container .main .author > * {
  margin: 8px 0px;
}

.left-container .title-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
}

.left-container .title-main * {
  margin-bottom: 8px;
}

.title-main .tags {
  display: flex;
}

.title-main .tags .tag {
  padding: 4px 12px;
  background-color: #ffffff50;
  color: white;
  font-weight: bold;
  border-radius: 16px;
  font-size: 12px;
  margin-right: 8px;
}

.left-container .title-main h1 {
  color: white;
  font-size: 48px;
  margin-top: 0;
}

.left-container .title-main p {
  color: white;
}

.right-container {
  display: flex;
  flex-basis: 60%;
  background-color: #fafafa;
  overflow-y: auto;
}

.right-container .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.result i {
  font-size: 48px;
  color: #0895ce;
}

.result h1 {
  font-size: 72px;
  margin: 8px 0;
}

.result h5 {
  margin: 8px 0;
  font-size: 28px;
}

.result p {
  font-size: 18px;
  margin: 8px 0;
}

.result div {
  margin: 8px 0;
  background-color: #00f88e;
  padding: 12px 48px;
  border-radius: 4px;
  cursor: pointer;
}

section {
  display: flex;
  height: 70%;
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

section.active {
  opacity: 1;
}

section.inactive {
  opacity: 0.3;
}

.right-container .question-root {
  padding: 120px;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.right-container .question-root div div {
  overflow-y: hidden !important;
}

@media all and (min-width: 1024px) {
  section {
    height: 70%;
    width: 80%;
  }
  .right-container .question-root {
    padding: 60px;
  }
}

@media all and (min-width: 1366px) {
  section {
    height: 70%;
    width: 80%;
  }

  .right-container .question-root {
    padding: 80px;
  }
}

@media all and (min-width: 1440px) {
  section {
    height: 70%;
    width: 70%;
  }

  .right-container .question-root {
    padding: 100px;
  }
}
